.MaplebirchMod {
	animation: 210s infinite linear lustful;
	background: linear-gradient(-90deg, #ffab57, #ffab57, #ffab57, #ffab57, #ffab57, #0dff00);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.Maplebirchframe {
    border: 1px solid #ffffff;  /* 纯白边框 */
    padding: 6px 12px;        /* 内边距 */
    display: inline-block;   /* 保持行内块状特性 */
    text-decoration: none;   /* 移除下划线 */
    color: #fff;             /* 保持文字颜色 */
}

.MaplebirchGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
	grid-gap: 14px;
	margin: 10px;
	text-align: center;
}