.MaplebirchMod {
	animation: 180s infinite linear lustful;
	background: linear-gradient(-90deg, #FE9900, #FE9900, #FE9900, #FE9900, #FE9900, #01FF99);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}